@media (max-width: 900px) {
  #principal {
    background-position-x: 70vw;
  }
  #principal .cont {
    align-items: center;
    text-align: center;
  }
  #principal header a {
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
  }
  #principal conteudo {
    align-items: center;
  }
  #resultado-pesquisa .cards {
    grid-template-columns: 1fr;
  }
  #resultado-pesquisa .cards img {
    height: 250px;
  }

  #cadastro .agrupamento {
    flex-direction: column;
  }
  #cadastro .agrupamento .campo + .campo {
    margin-left: 0;
  }
}

@media (min-width: 1700px) {
  #principal {
    background-position-x: 40vw;
  }
}
@media (max-height: 760px) {
  #principal {
    background-position-y: 200px;
  }
}


}
